@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Krona+One&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic&display=swap");

.name-features {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 2rem;

}

.inner-container-1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.name-features-item {
    display: flex;
    align-items: start;


}

.name-features-item-icon {
    font-size: 1.5rem;
    color: var(--primary-light);
    margin-right: 0.5rem;
}

.name-features-item-text span {
    font-size: 1.2rem;
    color: var(--primary-light);
    font-weight: var(--fw-semibold);
}

.name-features-item-text p {
    font-size: 1rem;
    color: var(--text);
    font-weight: var(--fw-regular);
}

.my-projects-section {
    margin-top: 2rem;
}

.search-area {
    border-radius: 20px;
    border: 1px solid var(--primary-light);
    font-size: 14px;
    color: var(--white);
    padding: 10px 12px;
}



.search-area-active {
    font-size: 14px;
    color: var(--white);
    padding: 10px 12px;
    background-color: var(--primary-light);
    border-radius: 20px;


}

.search-area:hover {
    font-size: 14px;
    color: var(--white);
    padding: 10px 12px;
    background-color: var(--primary-light);
    border-radius: 20px;

}

.container {
    border: none;
}

.my-projects-section {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 7rem 8rem 0rem 8rem;
}

.group-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.projcets-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    border-radius: 10px;


}

.card-text {
    padding: 12px;
}

.outer-card-text {
    padding: 12px 8px 5px 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.card-header h6 {
    font-size: 14px;

}

.card-header i {
    font-size: 14px;
    color: var(--primary-light);
}

.outer-card-text span {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-muted);
}

.card-despcration {
    padding: 12px 8px 5px 8px;
}

.card-despcration p {
    font-size: 12px;
}

.log-bage {
    display: flex;
    padding: 5px 8px 5px 8px;
    align-items: center;
    margin-top: 4px;
    gap: 12px;
}

.log-bage span {
    padding: 5px;
    border: solid 1px var(--primary-light);
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 1rem;
}

.live-demo {
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    margin-top: 5rem;
    color: var(--primary-light);
}

.card-cover {
    box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, 0.15);
    overflow: hidden;
    border-radius: 20px;
    transition: var(--transition-normal);
}

.card-icons {
    position: absolute;
    padding: 1.2rem;
    bottom: 5px;
    left: 7px;
    border: solid 1px var(--primary-light);
}

.card-icons i {
    color: var(--primary-light);
}

.card-img {
    width: 100%;
    /* height: 172px; */
    display: block;
    position: relative;
}

.high-section-cover {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, var(--primary-dark), var(--primary));
    border-radius: 10px;
    justify-content: space-between;
}

.high-section-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.high-section {
    margin-top: 2rem;
    padding: 0px 5.9rem;
}

.high-section-left-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: dashed 2px var(--primary-light);
}

.high-section-left-icon i {
    font-size: 1.4rem;
    color: var(--primary-light);
}

.high-section-left-deatil p {
    font-size: 12px;
}

.high-section-right a {
    padding: 0.9rem 1.3rem;
    background-color: var(--primary-dark);
    border-radius: 10px;
    font-weight: var(--fw-semibold);
    font-size: 1.2rem;
}

.high-section-right a i {
    margin-left: 5px
}

.high-section-right a:hover {
    padding: 0.9rem 1.3rem;
    background-color: var(--primary-light);
    border-radius: 10px;
    font-weight: var(--fw-semibold);
    font-size: 1.2rem;
}

.card-cover:hover {
    transform: translateY(-4px);
    /* border-color: var(--primary-light) #A92D52;
    border: solid 2px var(--primary-dark); */

}

@media (max-width: 40rem) {
    .inner-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0rem;
        padding: 2rem;
    }


    .name-features {
        /* flex-direction: column; */
        align-items: flex-start;
        flex-wrap: wrap;
    }


    .my-projects-section {
        margin: 1rem;

    }

    .group-card {
        flex-direction: column;
        gap: 2rem;

    }

    .search-area {
        width: 100%;
        text-align: center;
    }

    .high-section-cover {
        /* flex-direction: column; */
        gap: 2rem;
        flex-wrap: wrap;
        /* text-align: center; */
        justify-content: center;
    }

    .high-section {
        padding: 1rem;
    }

    .card-img {
        width: 100%;
    }

    .footer-sub {
        flex-direction: column;
        gap: 1rem;
    }

}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
    .inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0rem;
        padding: 2rem;
    }

    .my-projects-section {
        margin: 2rem;
    }

    .group-card {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .high-section {
        padding: 0 2rem;
    }

}

@media (min-width: 1024px) and (max-width: 1440px) {
    .inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0rem;
        padding: 2rem;
    }

    .name-features {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .group-card {
        gap: 2rem;
        flex-wrap: wrap;

    }

    .my-projects-section {
        margin:0 3rem;
    }
    .high-section{
         padding: 0 3rem;
    }
}

/* Desktop */
@media (min-width: 1440px) {
    .name-features {
        flex-wrap: wrap;
    }

    .group-card {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .high-section{
        padding: 2rem;
    }

}